.mainContainer{
  width: 50%;
  height: 93%;
  min-height: 500px;
  position: relative;
  left: 20%;
  border: outset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  
}

.mainInfosRecipeContainer{
  height: 40%;
  display: flex;
  justify-content: space-around;


}

.recipeImg{
  
}

.recipeInfos{

  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  font-weight: bold;

}


.recipeIngredients{
height: 100%;
}



.recipeIngredients li{
  margin-bottom: 15px;
  font-size: 1.2em;

}

.recipePreparation{
  padding: 5px;
  font-size: 1.2em;

}

.recipePreparation div{
 border: solid 1px;
 padding:10px;
 margin: 10px;
}