.input{
  width: 250px;
  height: 30px;
  font-size: 0.70em;
  transition: ease-in-out, width .35s ease-in-out;

}

.input:focus{
  width: 430px;
  font-weight: bold;
  
}

.searchContainer{
  position: absolute;
  top: 150px;
  right: 70%;
  left: 2%;
  font-size: 0.70em;
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  border: double black 1px;
  border-radius: 5px 5px;
  padding: 15px;
  min-width: 200px;
  max-width: 400px;
  max-height: 500px;

}

.searchItemsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: outset;

}