.input{
  width: 250px;
  height: 30px;
  font-size: 0.70em;
  font-family: 'Roboto', sans-serif;
  transition: 0.2s;
}

.input:focus{
  width: 430px;
  font-weight: bold;
  
}

.searchContainer{
  position: absolute;
  top: 150px;
  right: 70%;
  left: 2%;
  font-size: 0.70em;
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  min-width: 200px;
  max-width: 400px;
  max-height: 500px;

}

.searchItemsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;


}