.input{
  width: 250px;
  height: 30px;
  font-size: 0.70em;
  transition: ease-in-out, width .35s ease-in-out;

}

.input:focus{
  width: 600px;
  font-weight: bold;
  
}

.searchContainer{
  position: absolute;
  top:150px;
  font-size: 0.70em;
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  border: solid black 1px;
  padding: 20px;
  max-width: 500px;
  max-height: 500px;

}

.searchItemsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: outset;

}