.homepageMainContainer {
  height: 100%;
  background-color: rgb(248, 247, 245);
}


.imgSlider{
  height: 100%;
  width: 90%;
  margin: 1%;
  margin-left: 5%;
  border: 1px outset black;
  padding: 5px;
  background-color: white;
}

.sliderContainer {
  height: 2.5%;
  display: flex;
  position: absolute;
  left: 70px;

}

.sliders {
  width: 15px;
  height: 15px;
  border: black 1px solid;
  background-color: white;
  border-radius: 50% 50%;
  margin: 2px;
}

.sliders:hover{
  cursor: pointer;
  background-color: black;
  
}




.homeMessage {

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.homepageArticlesContainer{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;

}

.articleContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;

  
}


.articleContainer div{
  display: flex;
  justify-content: center;
}


.articleImg{
  border: outset 7px;
  border-radius: 10px 10px;
  width: 80%;
  margin-left: 35px;
  box-shadow: 4px 4px 5px 3px ;

}

.articleContainer:hover{
  cursor: pointer;
  
}

.articleImg:hover{
  transform: scale(1.02);
}




