.formMainContainer {
  font-weight: bold;
  height: 100%;
  font-size: 1.1em;
  font-weight: bold;
  background-color: rgb(248, 247, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.form {
  margin: 50px;
  background-color: white;
  width: 60%;
  max-width: 800px;
  box-shadow: 10px 10px 10px;
  border: outset;
  border-radius: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.formItems {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.input {
  border-radius: 5px 5px;
  height: 30px;

  padding-left: 10px;
}

.textarea {
  padding: 10px;
  font-weight: 800;
  font-size: 1em;
  max-width: 100%;
  min-width: 100%;
  max-height: 120px;
  min-height: 85px;
}



.ingredientContainer {
  width: 40%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin: 15px;
}

.ingredientContainer > div {
  display: flex;
}

.ingredientName {
  display: flex;
  flex-direction: column;
}

.ingredientQuantityContainer {
  margin-right: 5%;
  margin-left: 5%;
}

.ingredientQuantityContainer > input {
  width: 70px;

}

.buttonContainer {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonForm {
  background-color: white;
  border: outset 4px;
  border-radius: 20px 20px;
  width: 50%;
  margin: 10px;
  min-width: 150px;
  height: 45px;
}

.buttonForm:hover {
  cursor: pointer;
}

.buttonIngredientContainer {
  margin-top: 20px;
}

.buttonIngredient {
  margin-top: 15px;
  height: 20px;
  background-color: white;
  border-radius: 20px 20px;
  border: outset 3px;
  width: 85px;
  height: 30px;
}

.buttonIngredient:hover {
  cursor: pointer;
}
