.formMainContainer {
  height: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;  
}

.form {
  margin: 50px;
  background-color: white;
  width: 60%;
  max-width: 800px;
  border-radius: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.formItems {
  
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.input {
  height: 30px;
  padding-left: 10px;
  margin-top: 10px;
}

.inputImg{
  margin-top: 10px;
}

.textarea {
  padding: 10px;
  font-weight: 200;
  font-size: 1.1em;
  max-width: 100%;
  min-width: 100%;
  max-height: 120px;
  min-height: 85px;
  margin-top: 10px;
}



.ingredientContainer {
  width: 40%;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  
}

.ingredientContainer > div {
  display: flex;
}

.ingredientName {
  display: flex;
  flex-direction: column;
}

.ingredientQuantityContainer {
  margin-right: 5%;
  margin-left: 5%;
}

.ingredientQuantityContainer > input {
  width: 70px;
}

.buttonContainer {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonForm {
  background-color: white;
  border: outset 2px;
  width: 50%;
  margin: 10px;
  min-width: 150px;
  height: 45px;
  transition: 0.3s;
  font-size: 1em;
}

.buttonForm:hover{
  background-color: rgb(245, 246, 253) ;
}

.buttonForm:hover {
  cursor: pointer;
}

.buttonIngredientContainer {
  margin-top: 20px;
}

.buttonIngredient {
  margin-top: 32px;
  height: 20px;
  background-color: white;
  border-radius: 20px 20px;
  border: outset 3px;
  width: 85px;
  height: 30px;
}

.buttonIngredient:hover {
  cursor: pointer;
}
